body {
    height:100vh;
    margin: 0;
}

#root, .App {
    height: 100%;
}

#map {
    height: 75vh;
    margin: auto;
    max-width: 1024px;
    max-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: system-ui;
}

header {
    font-size: larger;
    text-align: center;
    padding: 8px;
    max-width: 768px;
    margin: auto;
}

header a {
    display: inline-flex;
}

header a img {
    margin-left: 3px;
}

header a:visited path {
    fill: purple;
}

button.geolocation {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 700;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & svg * {
        stroke: midnightblue;
    }
}

.connections {
    display: flex;
    justify-content: center;
}

.connections ul {
    padding-left: 0;
    max-width: 720px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.connections ul li {
    margin: 8px;
}

.connections ul li button {
    padding: 4px;
    appearance: none;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    border-radius: 4px;
}

.connections ul li button.active {
    transform: scale(115%);
    box-shadow: 2px 2px 2px black;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
}

footer .links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
}

footer .github {
    display: flex;
}

footer a {
    text-decoration: none;
    font-size: 48px;
    line-height: 48px;
}

.settings {
    margin: auto;
    max-width: 480px;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto;
}

.settings header {
    text-align: initial;
    padding: 16px 0 0 0;
}

.settings form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

    &:hover {
        background-color: whitesmoke;
    }
}

#buy-me-a-coffee {
    height: 48px;
    margin: 24px auto 8px auto;
}
