body {
    height:100vh;
}

#root, .App {
    height: 100%;
}

#map {
    height: 75vh;
    margin: auto;
    max-width: 1024px;
    max-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

html {
    font-family: system-ui;
}

header {
    font-size: larger;
    text-align: center;
    padding: 4px 8px 8px 8px;
}

header a {
    display: inline-flex;
}

header a img {
    margin-left: 3px;
}

header a:visited path {
    fill: purple;
}

button.geolocation {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    z-index: 700;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    & svg * {
        stroke: midnightblue;
    }
}

.connections {
    display: flex;
    justify-content: center;
}

.connections ul {
    padding-left: 0;
    max-width: 720px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.connections ul li {
    margin: 8px;
}

.connections ul li button {
    padding: 4px;
}

.connections ul li button.active {
    transform: scale(110%);
    box-shadow: 2px 2px 2px black;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding-bottom: 8px;
}

footer .github {
    display: flex;
    justify-content: center;
}

footer a {
    text-decoration: none;
    font-size: 32px;
}

.settings {
    margin: auto;
    max-width: 480px;
}

.settings header {
    text-align: initial;
}

.settings form label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;

    &:hover {
        background-color: whitesmoke;
    }
}