body {
    height:100vh;
}

#map {
    height: 75vh;
    margin: auto;
    max-width: 1024px;
    max-height: 720px;
}

html {
    font-family: system-ui;
}

header {
    font-size: larger;
    text-align: center;
    padding: 4px 8px 8px 8px;
}

footer {
    display: flex;
    justify-content: center;
}

footer ul {
    padding-left: 0;
    max-width: 720px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

footer ul li {
    margin: 8px;
}

footer ul li a {
    padding: 8px;
}

footer ul li:hover {
    font-weight: bolder;
}